

.nav-link {
            color: white;
            text-decoration: none;
        }

.carddto {
    margin-top: 3%;
   
}        

.card-body {
text-align: center;
}

.c1 {
   border-color: blue;
border-radius: 0;
border-width:medium;

}

.c2 {
    border-color: #008065;
border-radius: 0;
border-width:medium;
}

.c3 {
    border-color: yellowgreen;
    border-radius: 0;
border-width:medium;
}


#borrar {
                background-color:rgb(66, 158, 12);
                color: white;
            }

#resumen {
                background-color:rgb(66, 158, 12);
                color: white;
            }
#venta {
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 1%;
        margin-bottom: 0;
    }

#vTick {
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
    }
    
#pago {
    width: 100%;
background-color: cyan;
font-weight: 500;
padding-bottom: 0%;
}

.botonera {
    width: 65%;
}